.dicharts--oda-root {
  display: none;
}

.spotlight-banner.data-selector--wrapper {
  padding: 1em 2em 3rem 2em;
}

.spotlight-banner .labelled-data-selector--wrapper .data-selector {
  left: 0;
}

.labelled-data-selector--wrapper {
  display: inline-block;
}

.charts__chart .table-styled table {
  width: 100%;
}

.auto-height {
  min-height: auto !important;
}

.dicharts--chart-one-root,
.dicharts--oda-channels-chart {
  width: 100%;
  min-height: 450px;
}

.custom-legend {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.custom-legend.right {
  display: block;
  width: 350px;
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: -300px;
}

.legend-item {
  width: fit-content;
  margin-right: 5px;
}

.right .legend-item {
  margin-bottom: 5px;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.25rem;
  width: 20px;
  height: 20px;
  padding: 0.7rem;
}

.legend-item .text {
  vertical-align: top;
  margin-left: 5px;
  font-size: 12px;
}
