.dicharts--d3-boilerplate-chart,
.dicharts--echarts-boilerplate-chart {
  width: 70vw;
}

.spotlight-banner.data-selector--wrapper {
  padding: 1em 2em 3rem 2em;
}

.spotlight-banner .labelled-data-selector--wrapper .data-selector {
  left: 0;
}

.labelled-data-selector--wrapper {
  display: inline-block;
}

.charts__chart {
  width: 70vw;
}

.table-styled table {
  width: 70vw;
}

.auto-height {
  min-height: auto !important;
}

.custom-legend {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 160px;
}

.custom-legend.right {
  display: block;
  width: 350px;
  position: absolute;
  right: 0;
  z-index: 1;
  top: 100px;
}

@media (max-width: 1350px) {
  .custom-legend.right {
    position: relative;
    width: 100%;
    top: auto;
  }
}

@media screen and (max-width: 412px) {
  .custom-legend.right {
    display: block;
  }
}

.legend-item {
  width: fit-content;
  margin-right: 5px;
}

.right .legend-item {
  margin-bottom: 5px;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.25rem;
  width: 20px;
  height: 20px;
  padding: 0.7rem;
}

.legend-item .text {
  vertical-align: top;
  margin-left: 5px;
  font-size: 12px;
}

@media screen and (max-width: 699px) {
  .chart-container .charts__chart {
    display: block;
  }
}

.legend-item.label {
  border-bottom: 2px solid;
}

.label .text {
  font-size: 13px;
}

.no-data--wrapper {
  display: table;
  position: absolute;
  width: 100%;
  min-height: 450px;
}

.no-data {
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.display-none {
  display: none;
}

.invisible {
  visibility: hidden;
}

.preview-pane {
  height: 100vh;
  width: 100vw;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.iframeWrapper {
  width: 100%;
  height: 100%;
}

.all-charts {
  width: 100vw;
  height: 100vh;
  margin: 20px;
  overflow-y: scroll;
}

#preview-iframe {
  height: 100vh;
  width: 100vw;
}

#preview-button {
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 14px;
  background-color: rgb(133, 39, 39);
}

#preview-button:hover {
  color: white;
  background-color: rgb(128, 99, 99);
}

.toggle-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.preview {
  display: grid;
  justify-content: end;
  border-bottom: 1px solid lightgray;
  background-color: #f2f2f2;
  padding-bottom: 20px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.buttons {
  margin-right: 20px;
}

.preview-label {
  display: flex;
  gap: 20px;
  align-items: center;
}

.preview-label h3 {
  font-size: 20px;
  color: black;
}

.preview-switch {
  width: 48px;
  height: 28px;
  position: relative;
}

.preview-switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  border-radius: 30px;
  transition: 0.5s;
}

.switch:before {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;
  content: '';
  background-color: white;
  border-radius: 30px;
  transition: 0.5s;
}

input:checked + .switch {
  background-color: rgb(133, 39, 39);
}

input:checked + .switch:before {
  transform: translateX(20px);
}
