.dicharts--oda-root {
  display: none;
}

.spotlight-banner.data-selector--wrapper {
  padding: 1em 2em 3rem 2em;
}

.spotlight-banner .labelled-data-selector--wrapper .data-selector {
  left: 0;
}

.labelled-data-selector--wrapper {
  display: inline-block;
}

.charts__chart .table-styled table {
  width: 100%;
}
